upstream trembita_founder {
    server host.docker.internal:${FOUNDER_NODE1_PORT};
    server host.docker.internal:${FOUNDER_NODE2_PORT};
    server host.docker.internal:${FOUNDER_NODE3_PORT};
}

server {
    listen 8080;
    location / {
        proxy_pass http://trembita_founder;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header Connection "";
    }
}
